{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="main-container">
    <div class="top-panel">
        <div class="user-info">
            <div>Zalogowano jako:</br>Jacus</div>
            <form action="/logout" method="GET" style="display: contents;">
                <button>Wyloguj</button>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="left-panel">
            <h1>Notatki</h1>
            <form action="/newnote" method="GET">
                <button>Nowa notatka</button>
            </form>  
            <table>
                <tr>
                    <th>Tytuł</th>
                    <th>Podgląd</th>
                </tr>
                {% if notes %}
                    {% for id, note, title in notes %}
                        <tr onclick="displayMessage(this)" data-title="{{title}}" data-note="{{note}}" data-id="{{id}}">
                            <td>{{title}}</td>
                            <td>{{note | truncate(10, killwords=True)}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="right-panel">
            <div id="delete-panel">
                <button onclick="deleteMessage()">Usuń wiadomość</button>
            </div> 
            <div id="display-panel">
            
            </div>
        </div>
    </div>
</div>
<script>
    let msgID = null;

    function displayMessage(element){
        preview = document.getElementById("display-panel");
        note = element.getAttribute('data-note');
        msgID = element.getAttribute('data-id');
        preview.innerHTML = note;
    }

    function deleteMessage(){
        fetch('/delete', {
            method: "post",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({id: msgID}),
        }).then( response =>{
            location.reload()
        })
    }
</script>
{% endblock %}